.content {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgb(224 224 224);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chip-name {
    padding: 5px;
    padding-right: 8px;
}

.chip-count {
    background-color: rgb(188 188 188);
    color: white;
    padding: 5px;
    border-radius: 50px;
}

.steps {
    overflow-y: auto;
    flex: 1;
}

.scaleInput {
    width: 100px !important;
}
