.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resources {
    flex: 1 1 auto;
    margin: 10px;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.outputs{
    display: flex;
    flex-direction: row;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.steps {
    overflow-y: auto;
    flex: 1;
}
